.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown .dropdown-menu {
	display: none;
	}
.nav-link{
	color : black;
}
.nav-link:hover {
	font-weight : bolder;
  	color: skyblue;
}
.navbar-nav {
  display: inline-block;
}
.navbar-nav>li {
   display: inline-block;
}
.hnav {
	color: silver;
	font-size: 14px;
	margin: 3px 0px;
}