body {
	background-color: #f5f6f7;
}
header, section, footer {
	position: relative;
	max-width: 460px;
	margin: 10px auto;
}
header {
	height: 120px;
}
section > div {
	height: 80px;
	margin: 10px 0;
}
.userInfo {
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
}
label {
	font-weight: bold;
}
#login_logo {
	font-size: 60px;
	font-weight: 900;
	color: #47C83E;
	text-decoration: none;
}
#logo {
	width: 210px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
#userYear, #userDay {
	width: 140px;
	height: 40px;
	border: 1px solid silver;
}
#userMonth {
	width: 140px;
	height: 46px;
	margin: 0 8px;
	border: 1px solid silver;
}
#userContry {
	height: 46px;
}
#userPhone {
	width: 305px;
	height: 40px;
}
#NumBtn {
	width: 136px;
	height: 40px;
	margin-left: 5px;
	background-color: #47C83E;
	color: white;
	border: 1px solid silver;
}
#joinBtn {
	height: 50px;
	background-color: #47C83E;
	color: white;
	border: 1px solid silver;
}
footer {
	height: 60px;
	padding: 10px 0;
	text-align: center;
	font-size: 13px;
}
footer div a {
	text-decoration: none;
	color: black;
}
.box {
	width: 100%;
	height: 45px;
	background-color: white;
	border: 1px solid silver;
}
#footer_logo {
	font-weight: 900;
	color: #47C83E;
	text-decoration: none;
	margin: 0 3px;
}
.checkItem {
	color: red;
	font-size: 14px;
}
.item {
	margin: 20px 0;
}
.label {
	margin-bottom: 5px;
}
