.smalldiv1 {
	display: inline-block;
	width: 25px;
	height: 25px;
}

.smallimg1 {
	width: 100%;
	height: 100%;
}

.drop1 {
	display : inline-block;
	font-size: 12px;
}

.a1 {
	text-decoration : none;
	color : gray;
}
.a2 {
	text-decoration : none;
	color : black;
}

.con1 {
	height: 1000px;
}
.space {
	height : 100px;
}
.coldiv{
	height : 1000px;
}

.carousel-inner {
	width : 100%;
	height : 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.leftimg1 {
	height : 100%;
}

.leftimgdiv {
	width : 100%;
	height : 600px;
}
.rightdiv1 {
	height : 45px;
	background-color : #F0F0F0;
}
.rightdiv2 {
	height : 260px;
}
.rightdiv3 {
	height : 80px;
	background-color : #F0F0F0;
}
.bin1 {
	height : 400px;
}
.st1 {
	font-size : 25px;
}
.st2 {
	font-size : 21.5px;
}
.st3 {
	float : right;
	font-size : 27px;
	color: #6799FF;
}
.sp1 {
	font-size : 12px;
}
.sp2 {
	font-weight : bold;
	font-size : 12px;
	color : #86E57F;
}
.sp3 {
	font-weight : lighter;
	font-size : 12px;
}
.sp4 {
	font-weight : bold;
	font-size : 12px;
}
.sp5 {
	font-size : 17px;
}
.minidiv {

	width : 20px;
	height : 15px;
	margin-top : 8px;
	display : inline-block;
}
.minidiv2 {
	height : 55px;
}
.tdcolor {
	background-color : #F7F7F7;
}
#card {
	width : 100%;
	height : 100%;
}